<div class="ui breadcrumb">
    <a href={{ path('sylius_admin_dashboard') }} class="section">{{ 'sylius.ui.administration'|trans }}</a>
    <i class="right chevron icon divider"></i>
    <a href={{ path('sylius_rbac_admin_administration_role_index') }} class="section">{{ 'sylius_rbac.ui.administration_roles'|trans }}</a>
    <i class="right chevron icon divider"></i>
    <div class="active section">{{ 'sylius.ui.new'|trans }}</div>
</div>

<div class="middle aligned column"></div>
